extends layout

include mixins/cart-card.pug

block content
  .forms
    h1 🛒 Your Cart

    if cartItems.length === 0
      p Your cart is currently empty.
      a.button(href="/") Continue Shopping
    else
      each cartItem in cartItems
        +cartCard(cartItem, cars)

      h3(style="text-align: right;")
        | Subtotal: $
        = cartItems.reduce((total, item) => total + (item.price * item.quantity), 0).toLocaleString()

      a.button(href="/checkout") Proceed to Checkout
