doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="/style.css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        header
            nav
                .nav-top
                    .nav-left
                        a(href="/") Action! Autos
                    .nav-mid
                        p "quote"
                        // search bar
                    .nav-right
                        ul
                            li: a(href="/") Login
                            li: a(href="/") Cart
                    .nav-bottom
                        ul
                            li: a(href="/") Sports Cars
                            li: a(href="/") Hot Rods
                            li: a(href="/") SUVs
                            li: a(href="/") Motorcycles

        main
            block content

        footer
            .footer-left 
                a(href="/") About Us / FAQ
            .footer-right
                &copy; #{new Date().getFullYear()} Action! Autos

