extends layout

block content
  .forms
    h1(style="text-align: center;") Create an Account

    form(action="/registration", method="POST")
      label(for="firstname") First Name:
      input#firstname(type="text", name="firstname", required)

      label(for="lastname") Last Name:
       input#lastname(type="text", name="lastname", required)
       
      label(for="username") Username:
      input#username(type="text", name="username", required)

      label(for="email") Email:
      input#email(type="email", name="email", required)

      label(for="password") Password:
      input#password(type="password", name="password", required)

      label(for="confirmPassword") Confirm Password:
      input#confirmPassword(type="password", name="confirmPassword", required)

      button(type="submit", style="margin-top: 1rem; background-color: #007acc; color: white; padding: 0.5rem 1rem; border-radius: 5px; border: none; cursor: pointer;") Register

    p(style="text-align: center; margin-top: 1rem;")
      | Already have an account?
      a(href="/login") Login here
